* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 20px;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121C2C;
}

h1 {
  text-align: center;
  padding: 30px;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 10px;
  color: #D4AF37;
}

p {
  margin-bottom: 10px;
  font-size: 1.05rem;
  color: #F5F5F7;
}

strong {
  color: #4FA3D9;
}